@font-face {
  font-family: IRANSansBold;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/eot/IRANSansWeb.eot");
  src: url("../assets/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: Punkkid;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/punkkid.ttf");
}

.topHeader {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.topHeader__right ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.topHeader__right ul li {
  position: relative;
  margin: 25px;
}

.topHeader__right ul li > a {
  display: flex;
  align-items: center;
  color: #212121;
  text-decoration: none;
}

.topHeader__right ul li > a > i {
  margin-right: 10px;
}

.topHeader__right ul > .loginContainer {
  position: relative;
}

.topHeader__right ul > .loginContainer li {
  margin: 25px;
}

.topHeader__right ul > .loginContainer li > a {
  display: flex;
  align-items: center;
  color: #212121;
  text-decoration: none;
}

.topHeader__right ul > .loginContainer li > a > i {
  margin-right: 10px;
}

.topHeader__right ul > .loginContainer > .loginForm {
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
  position: absolute;
  text-align: center;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  top: 65px;
  left: -55px;
  display: none;
}

.topHeader__right ul > .loginContainer > .loginForm > input {
  border: none;
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
  margin-bottom: 20px;
  padding: 15px 10px;
}

.topHeader__right ul > .loginContainer > .loginForm > input:focus {
  outline: none;
}

.topHeader__right ul > .loginContainer > .loginForm > button {
  text-align: center;
  width: 60px;
}

.topHeader__left {
  direction: ltr;
}

.topHeader__left .icons {
  margin: 25px;
  display: flex;
  align-items: center;
}

.topHeader__left .icons span {
  margin-left: 20px;
  font-size: 30px;
}

.topHeader__left .icons .facebook a {
  color: #3b5998;
}

.topHeader__left .icons .telegram a {
  color: #0088cc;
}

.topHeader__left .icons .instagram a {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 430px) {
  .topHeader {
    font-size: 10px;
  }
  .topHeader__left {
    direction: ltr;
  }
  .topHeader__left .icons {
    margin: 25px;
    display: flex;
    align-items: center;
  }
  .topHeader__left .icons span {
    margin-left: 20px;
    font-size: 15px;
  }
}

main {
  width: 100vw;
  height: 600px;
  background: #f5f5f5;
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

.header {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  font-family: Punkkid;
  font-size: 6.5vw;
}

.header > p {
  font-size: 20px;
  margin-left: 15vw;
  margin-top: 10px;
  font-weight: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(33, 33, 33, 0.15);
  border-bottom: 1px solid rgba(33, 33, 33, 0.15);
  box-shadow: 0px 2px 39px -14px rgba(0, 0, 0, 0.2);
}

.navbar > .hamburger {
  display: none;
  width: 30px;
  height: 20px;
  position: fixed;
  margin-right: 20px;
  transform: rotate(0deg);
  top: 303px;
  right: 0;
  cursor: pointer;
}

.navbar > .hamburger > .line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #212121;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.navbar > .hamburger > .line:nth-child(1) {
  top: 9px;
}

.navbar > .hamburger > .line:nth-child(2) {
  top: 18px;
}

.navbar > .hamburger.open .line {
  position: absolute;
}

.navbar > .hamburger.open .line:nth-child(1) {
  opacity: 0;
  left: -60px;
}

.navbar > .hamburger.open .line:nth-child(2) {
  top: 9px;
  transform: rotate(135deg);
}

.navbar > .hamburger.open .line:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

.navbar > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.navbar > ul > li {
  cursor: pointer;
  padding: 15px 20px;
  transition: all ease-in-out 0.3s;
}

.navbar > ul > li > a {
  color: #212121;
  text-decoration: none;
}

.navbar > ul > li:hover {
  background-color: #9ccc65;
}

.navbar > ul .active {
  background-color: #9ccc65;
}

.navbar .searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  border-radius: 3px;
  color: gray;
  margin-left: 30px;
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
}

.navbar .searchBox > .searchForm > input {
  border: none;
  background: transparent;
  padding: 2px;
}

.navbar .searchBox > .searchForm > input:focus {
  outline: none;
  border: none;
}

.navbar .searchBox i {
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .navbar {
    justify-content: flex-end;
  }
  .navbar .hamburger {
    display: block;
    z-index: 2;
  }
  .navbar .hamburger.open {
    top: 310px;
  }
  .navbar ul {
    position: fixed;
    top: 0;
    background: whitesmoke;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateY(-100%);
  }
  .navbar ul li {
    transform: translateX(-100%);
  }
  .navbar ul li:nth-child(1) {
    transition-delay: 0.4s;
  }
  .navbar ul li:nth-child(2) {
    transition-delay: 0.6s;
  }
  .navbar ul li:nth-child(3) {
    transition-delay: 0.8s;
  }
  .navbar ul li.open {
    transform: translateX(0%);
  }
  .navbar ul li:hover {
    background: transparent;
  }
  .navbar ul.open {
    display: flex;
    transition: 0.3s ease-in-out;
    transform: translateY(0%);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  direction: rtl;
  font-family: IRANSans;
}
/*# sourceMappingURL=Style.css.map */