{% for comment in article.comments.all %}

<div class="col-10">
    <div class="comment__box">
        <div class="comment__box--header">
            <div class="userAvatar">
                <img src="https://i.picsum.photos/id/890/200/300.jpg?hmac=INUR_Xore_GSEXH-cqmLjy_lJcK8tslVvXwwac-9o8M"
                    alt="">
            </div>
            <h4>{{ comment.author }}</h4>
            <p>تاریخ : <span>{{ comment.created|date:"SHORT_DATE_FORMAT" }}</span></p>
        </div>
        <div class="comment__box--content">
            <p>{{ comment.body }}</p>
        </div>
        <div class="comment__box--footer tempFooter">
            <button class="btn btn-dark send_comment">پاسخ</button>
        </div>
        <form action="{% url 'Post:add_reply' article.id  comment.id %}"  method="POST"  class="answerForm"> 
            {% csrf_token %}
            {{ myform.body}}
            <div class="answerForm__inputs">
                {{ myform.author}}
                {{ myform.email}}
            </div>
            <button class="btn btn-primary">Send</button>
        </form>
        {% include 'Reply.html' %}
    </div>
</div>
{% empty %}
    <p class="text-right">هیچ دیدگاهی وجود ندارد</p>
{% endfor %}
