<div class="col-10">
    <div class="row">
        <div class="content__Box">
            <!-- Content Title -->
            <h1>لورم ایپسوم</h1>
            <div class="content__header">

                <img class="content__header--image" src=" assets/images/content1.jpg" alt="">
                <div class="content__header--text">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                        لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                        ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده
                        شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                        برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                        ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                        راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
                        دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد
                        استفاده قرار گیرد.
                    </p>
                </div>
            </div>
            <!-- 0311310333412 -->
            <!-- Content Information -->
            <div class="content__footer">
                <div class="content__footer--information">
                    <p>نویسنده : <span>سیامک علیپور</span></p>
                    <p>تاریخ : <span>1398.10.09</span> </p>
                </div>
                <span class="content__footer--goToContinue">
                    <a href="article.html">
                        <i class="fas fa-angle-down"></i>
                    </a>
                </span>
                <span id="likeButton" class="content__footer--likeButton">
                    <i class="fas fa-heart">
                        <!-- <span class="likeButtonCount">0</span> -->
                    </i>
                </span>

            </div>

        </div>
    </div>
</div>