{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% for content in contents  %}
        <div class="col-10">
            <div class="row">
                <div class="content__Box">
                    <!-- Content Title -->
                    <h1>{{ content.title }}</h1>
                    <div class="content__header">

                        
                        <div class="content__header--text">
                            <p>
                            {{ content.body|safe }}
                            </p>
                        </div>
                    </div>
                    <!-- 0311310333412 -->
                    <!-- Content Information -->
                    <div class="content__footer">
                        <div class="content__footer--information">
                            <p>نویسنده : <span>{{ content.author.username }}</span></p>
                            <p>تاریخ : <span>{{ content.publish }}</span> </p>
                        </div>
                        <span class="content__footer--goToContinue">
                            <a href="{{ content.get_absolute_url }}">
                                <i class="fas fa-angle-down"></i>
                            </a>
                        </span>
                        <span id="likeButton" class="content__footer--likeButton">
                            <i class="fas fa-heart">
                                <!-- <span class="likeButtonCount">0</span> -->
                            </i>
                        </span>

                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}