{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="col-10">
    <div class="row">
        <div class="content__Box">
            <!-- Content Title -->
            <h1>{{ article.title }}</h1>
            <div class="content__header">

                <div class="content__header--text">
                    <p>
                        {{ article.body |safe}}
                    </p>
                </div>
            </div>
            <!-- 0311310333412 -->
            <!-- Content Information -->
            <div class="content__footer">
                <div class="content__footer--information">
                    <p>نویسنده </br><span>{{ article.author }}</span></p>
                    <p>تاریخ </br><span>{{ article.publish }}</span> </p>
                </div>
                <span id="likeButton" class="content__footer--likeButton">
                    <i class="fas fa-heart">
                        <!-- <span class="likeButtonCount">0</span> -->
                    </i>
                </span>

            </div>

        </div>
    </div>
</div>

<div class="commentToggle">
    دیدگاه ها
</div>

<section class="comment">
    <form class="commenting"> 
        {% csrf_token %}
        {{ myform.body}}
        <div class="answerForm__inputs">
            {{ myform.author}}
            {{ myform.email}}
        </div>
            <button class="btn btn-primary">Send</button>
    </form>
    {% include './Comment.html' %}
</section>

{% endblock content %}