<div class="comment__box--reply">
    <div class="comment__box--reply_header">
        <div class="userAvatar">
            <img src="https://i.picsum.photos/id/890/200/300.jpg?hmac=INUR_Xore_GSEXH-cqmLjy_lJcK8tslVvXwwac-9o8M"
                alt="">
        </div>
        <h4>سیامک علیپور</h4>
        <p>تاریخ : <span>1398/05/05</span></p>
    </div>
    <div class="comment__box--reply_content">
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
            می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
            متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
            الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
            داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان
            مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود
            طراحی اساسا مورد استفاده قرار گیرد.</p>
    </div>
    <div class="comment__box--reply_footer tempFooter">
        <button class="btn btn-dark send_comment">پاسخ</button>
    </div>
    <form class="answerForm"> 
        {% csrf_token %}
        {{ myform.body}}
        <div class="answerForm__inputs">
            {{ myform.author}}
            {{ myform.email}}
        </div>
        <button class="btn btn-primary">Send</button>
    </form>
    
</div>