<div class="col-10">
    <div class="row">
        <div class="content__Box">
            <!-- Content Title -->
            <img src="assets/images/warning.png" alt="">
            <p>صفحه ای که به دنبالش هستید یافت نشد</p>
            <a href="index.html">
                <p>بازگشت به صفحه اصلی</p>
            </a>
            
        
    

        </div>
    </div>
</div>