<nav class="navbar">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="navList">
        <li class="navChilds active">
            <a href="#">خانه</a>
        </li>
        <li class="navChilds"><a href="#">درباره ما</a></li>
        <li class="navChilds">
            <a href="#">ارتباط با ما</a>
        </li>
        <li class="navChilds">
            <a href="#">تست</a>
        </li>
        <li class="navChilds">
            <a href="#">تست</a>
        </li>
    </ul>
    <div class="searchBox">
        <form action="" class="searchForm">
            <input type="text" />
            <button type="submit" style="display: none">
                asd
            </button>
        </form>

        <i class="fas fa-search"></i>
    </div>
</nav>