<section id="topHeader">
    <div class="container">
        <div class="row">
            <div class="topHeader">
                <div class="topHeader__right">
                    <ul>
                        <li>
                            <a href="#">ثبت نام <i class="fas fa-user-plus"></i></a>
                        </li>
                        <div class="loginContainer">
                            <li class="login">
                                <a href="#">ورود<i class="fas fa-sign-in-alt"></i></a>
                            </li>
                            <!-- Slide login form -->
                            <form action="" class="loginForm">
                                <input class="userInput" type="text" placeholder="نام کاربری" />
                                <input class="passInput" type="password" placeholder="کلمه عبور" />
                                <button class="btn btn-dark loginBtn" onclick="e.preventdefault()" type="submit">
                                    ورود
                                </button>
                            </form>
                        </div>
                    </ul>
                </div>
                <!-- Insta and etc icons -->
                <div class="topHeader__left">
                    <div class="icons">
                        <span class="instagram"><a href=""><i class="fab fa-instagram"></i></a></span>
                        <span class="telegram">
                            <a href=""><i class="fab fa-telegram"></i></a>
                        </span>
                        <span class="facebook">
                            <a href="">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>