@font-face {
  font-family: IRANSansBold;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/eot/IRANSansWeb.eot");
  src: url("../assets/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: Punkkid;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/punkkid.ttf");
}

.topHeader {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.topHeader__right ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.topHeader__right ul li {
  position: relative;
  margin: 25px;
}

.topHeader__right ul li > a {
  display: flex;
  align-items: center;
  color: #212121;
  text-decoration: none;
}

.topHeader__right ul li > a > i {
  margin-right: 10px;
}

.topHeader__right ul > .loginContainer {
  position: relative;
}

.topHeader__right ul > .loginContainer li {
  margin: 25px;
}

.topHeader__right ul > .loginContainer li > a {
  display: flex;
  align-items: center;
  color: #212121;
  text-decoration: none;
}

.topHeader__right ul > .loginContainer li > a > i {
  margin-right: 10px;
}

.topHeader__right ul > .loginContainer > .loginForm {
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
  position: absolute;
  text-align: center;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  top: 65px;
  left: -55px;
  display: none;
}

.topHeader__right ul > .loginContainer > .loginForm > input {
  border: none;
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
  margin-bottom: 20px;
  padding: 15px 10px;
}

.topHeader__right ul > .loginContainer > .loginForm > input:focus {
  outline: none;
}

.topHeader__right ul > .loginContainer > .loginForm > button {
  text-align: center;
  width: 60px;
}

.topHeader__left {
  direction: ltr;
}

.topHeader__left .icons {
  margin: 25px;
  display: flex;
  align-items: center;
}

.topHeader__left .icons span {
  margin-left: 20px;
  font-size: 30px;
}

.topHeader__left .icons .facebook a {
  color: #3b5998;
}

.topHeader__left .icons .telegram a {
  color: #0088cc;
}

.topHeader__left .icons .instagram a {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 430px) {
  .topHeader {
    font-size: 10px;
  }
  .topHeader__left {
    direction: ltr;
  }
  .topHeader__left .icons {
    margin: 25px;
    display: flex;
    align-items: center;
  }
  .topHeader__left .icons span {
    margin-left: 20px;
    font-size: 15px;
  }
}

main {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
  padding-top: 20px;
  border-radius: 3px;
}

.header {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  font-family: Punkkid;
  font-size: 6.5vw;
}

.header > p {
  font-size: 20px;
  margin-left: 15vw;
  margin-top: 10px;
  font-weight: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(33, 33, 33, 0.15);
  border-bottom: 1px solid rgba(33, 33, 33, 0.15);
  box-shadow: 0px 2px 39px -14px rgba(0, 0, 0, 0.2);
}

.navbar > .hamburger {
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  margin-right: 20px;
  transform: rotate(0deg);
  right: 0;
  cursor: pointer;
  transform: translateY(0%);
}

.navbar > .hamburger > .line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #212121;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.navbar > .hamburger > .line:nth-child(1) {
  top: 9px;
}

.navbar > .hamburger > .line:nth-child(2) {
  top: 18px;
}

.navbar > .hamburger.open {
  position: fixed;
  top: 30px;
  right: 20px;
}

.navbar > .hamburger.open .line {
  position: absolute;
}

.navbar > .hamburger.open .line:nth-child(1) {
  opacity: 0;
  left: -60px;
}

.navbar > .hamburger.open .line:nth-child(2) {
  top: 9px;
  transform: rotate(135deg);
}

.navbar > .hamburger.open .line:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

.navbar > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.navbar > ul > li {
  cursor: pointer;
  padding: 15px 20px;
  transition: all ease-in-out 0.3s;
}

.navbar > ul > li > a {
  color: #212121;
  text-decoration: none;
}

.navbar > ul > li:hover {
  background-color: #9ccc65;
}

.navbar > ul .active {
  background-color: #9ccc65;
}

.navbar .searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  border-radius: 3px;
  color: gray;
  margin-left: 30px;
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
}

.navbar .searchBox > .searchForm > input {
  border: none;
  background: transparent;
  padding: 2px;
}

.navbar .searchBox > .searchForm > input:focus {
  outline: none;
  border: none;
}

.navbar .searchBox i {
  margin: 10px;
}

@media screen and (max-width: 992px) {
  .navbar {
    justify-content: flex-end;
  }
  .navbar .hamburger {
    display: block;
    z-index: 2;
  }
  .navbar ul {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: whitesmoke;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.4s;
    transform: translateY(-100%);
  }
  .navbar ul li {
    transition: transform 0.4s;
    transform: translateX(-100%);
  }
  .navbar ul li:nth-child(1) {
    transition-delay: 0.1s;
  }
  .navbar ul li:nth-child(2) {
    transition-delay: 0.3s;
  }
  .navbar ul li:nth-child(3) {
    transition-delay: 0.6s;
  }
  .navbar ul li:nth-child(4) {
    transition-delay: 1s;
  }
  .navbar ul li:nth-child(5) {
    transition-delay: 1.2s;
  }
  .navbar ul li.open {
    transform: translateX(0%);
  }
  .navbar ul.open {
    display: flex;
    transition: 0.3s ease-in-out;
    transform: translateY(0%);
  }
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.content__Box {
  position: relative;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
  width: 60vw;
  height: auto;
  margin: 0 auto;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__Box > h1 {
  margin: 62px 95px;
  font-size: 40px;
  margin-left: auto;
}

.content__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  margin-bottom: 20px;
}

.content__header--image {
  object-fit: contain;
  width: 80%;
  position: relative;
  border-radius: 5px;
}

.content__header--text {
  width: 80%;
  padding: 5px;
  font-size: 15px;
  margin-top: 15px;
}

.content__footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  border-top: 1px solid #eeeeee;
  height: 50px;
  padding: 30px 30px;
  color: #212121;
}

.content__footer--information {
  flex: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-top: 8px;
}

.content__footer--information > p {
  font-weight: bold;
}

.content__footer--information > p > span {
  font-weight: normal;
}

.content__footer--goToContinue {
  position: absolute;
  font-size: 30px;
  right: 50%;
  cursor: pointer;
}

.content__footer--goToContinue > a {
  color: #212121;
}

.content__footer--likeButton {
  position: relative;
  color: #d7443e;
  cursor: pointer;
  font-size: 20px;
  transition: 0.4s;
}

.content__footer--likeButton .likeButtonCount {
  position: absolute;
  top: 7px;
  left: 6.8px;
  z-index: 2;
  font-size: 13px;
  color: white;
}

.content__footer .animateLike {
  animation: jump 1.2s;
  transform: scale(2, 2);
}

.content__footer .animateLike .likeButtonCount {
  top: 4px;
}

@media screen and (max-width: 992px) {
  .content {
    margin-top: 30px;
    padding: 20px;
  }
  .content__Box {
    width: 100%;
  }
  .content__Box h1 {
    margin: 31px 45px;
    font-size: 20px;
    margin-left: auto;
  }
  .content__footer--information {
    font-size: 10px;
  }
}

@media screen and (max-width: 620px) {
  .content {
    margin-top: 45px;
    padding: 1px;
  }
  .content__Box {
    width: 100%;
  }
  .content__footer--information {
    font-size: 8px;
  }
}

@keyframes jump {
  0% {
    transform: translate(0, 0%) scale(2, 2);
  }
  50% {
    transform: translate(0, -150%) scale(1.75, 1.75);
  }
  55% {
    transform: translate(0, -150%) rotate(15deg);
  }
  60% {
    transform: translate(0, -150%) rotate(-15deg);
  }
  65% {
    transform: translate(0, -150%) rotate(15deg);
  }
  70% {
    transform: translate(0, -150%) rotate(-15deg);
  }
  100% {
    transform: translate(0, 0%) scale(2, 2);
  }
}

.footer {
  background-color: #212121;
  width: 100%;
  height: 74px;
  display: grid;
  place-items: center;
}

.footer h1 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
}

.commenting {
  width: 80%;
  margin: auto;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0e0e0;
}

.commenting .answerForm__body {
  width: 80%;
  box-shadow: 0px 2px 39px -14px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 15px;
  padding: 7px;
  border: 1px solid #e0e0e0;
  min-height: 100px;
  height: 100px;
}

.commenting .answerForm__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.commenting .answerForm__inputs .answerForm__name {
  box-shadow: 0px 2px 39px -14px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: auto;
  border-radius: 15px;
  padding: 7px;
  border: 1px solid #e0e0e0;
}

.commenting .answerForm__inputs .answerForm__email {
  box-shadow: 0px 2px 39px -14px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 15px;
  margin: auto;
  padding: 7px;
  border: 1px solid #e0e0e0;
}

.commenting button {
  float: right;
  margin-top: 10px;
}

.comment {
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  display: none;
}

.comment__box {
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
  margin-bottom: 50px;
  height: auto;
  background: whitesmoke;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

.comment__box--header {
  width: 100%;
  height: auto;
  border: 1px solid #cecece;
  border-radius: 10px;
  display: flex;
}

.comment__box--header .userAvatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}

.comment__box--header h4 {
  color: #212121;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
}

.comment__box--header p {
  color: #212121;
  margin-right: auto;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 10px;
}

.comment__box--content {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #c9c9c9;
}

.comment__box--content p {
  margin-left: auto;
  margin: 50px;
  font-size: 14px;
  text-align: right;
}

.comment__box--reply {
  width: 95%;
  height: auto;
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
  background: whitesmoke;
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 10px;
}

.comment__box--reply_header {
  border: 1px solid #cecece;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
}

.comment__box--reply_header .userAvatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}

.comment__box--reply_header h4 {
  color: #212121;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
}

.comment__box--reply_header p {
  color: #212121;
  margin-right: auto;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 10px;
}

.comment__box--reply_content {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #c9c9c9;
}

.comment__box--reply_content p {
  margin-left: auto;
  margin: 50px;
  font-size: 14px;
  text-align: right;
}

.comment__box--reply_footer {
  margin-right: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.comment__box--reply_footer button {
  margin: 10px;
}

.comment__box--footer {
  margin-right: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.comment__box--footer button {
  margin: 10px;
}

.commentToggle {
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.09);
  text-align: center;
  width: 200px;
  height: auto;
  padding: 7px;
  background-color: white;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 15px;
}

.commentToggle:hover {
  box-shadow: 0px 7px 36.1px 1.9px rgba(0, 0, 0, 0.3);
}

.answerForm {
  background-color: #c4c4c4;
  width: 90%;
  margin: auto;
  height: auto;
  display: none;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.answerForm .answerForm__body {
  width: 80%;
  box-shadow: 0px 2px 39px -14px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 15px;
  padding: 7px;
  border: 1px solid #e0e0e0;
  min-height: 100px;
  height: 100px;
}

.answerForm .answerForm__name {
  box-shadow: 0px 2px 39px -14px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: auto;
  border-radius: 15px;
  padding: 7px;
  border: 1px solid #e0e0e0;
}

.answerForm .answerForm__email {
  box-shadow: 0px 2px 39px -14px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 15px;
  margin: auto;
  padding: 7px;
  border: 1px solid #e0e0e0;
}

.answerForm button {
  float: right;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  direction: rtl;
  font-family: IRANSans;
}
/*# sourceMappingURL=Style.css.map */