{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="col-10">
        <div class="row">
            <div class="content__Box">
                <!-- Content Title -->
                <img src="{% static 'assets/images/warning.png' %}" alt="warning">
                <p>صفحه ای که به دنبالش هستید یافت نشد</p>
                <a href="{% url 'Post:home' %}">
                    <p>بازگشت به صفحه اصلی</p>
                </a>
                
            
        

            </div>
        </div>
    </div>
{% endblock content %}
