{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>

<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Style.css' %}" />

</head>

<body>


    <!-- TopHeader.html  -->
    {% include "include/TopHeader.html" %}

    <div class="container">
        <div class="row">
            <main>

                <!-- Header.html  -->
                {% include "include/Header.html" %}
              

                <!-- navbar.html  -->
                {% include "include/NavBar.html" %}
                
            
                <section class="content">
                    <!-- Content.html -->
                    <!-- FullContent.html -->
                    {% block content %}
                    {% endblock content %}
                </section>



                <!-- footer.html -->
                {% include "include/Footer.html" %}
            </main>
        </div>
    </div>

    <!-- Preprocess js files -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <!-- JS Part -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>